.emacs.d/abbrev_defs
.emacs.d/auto-save-list
.emacs.d/history
.emacs.d/var
.DS_Store
*.elc

/.emacs.d/.lsp-session-v1
/.emacs.d/.cache/
/.emacs.d/.dap-breakpoints
/.emacs.d/transient/history.el
/.emacs.d/elpa/archives/melpa/archive-contents
/.emacs.d/places
/.emacs.d/.mc-lists.el
/.emacs.d/recentf
